<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ServantStudentMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加公务员学生记录 -->
	<insert id="addServantStudent" parameterType="servantStudent">
		insert into t_servantStudent(studentNumber,studentName,specialObj,gradeObj,yearMonth,areaInfo,danwei,position,shouru) values 
		(#{studentNumber},#{studentName},#{specialObj.specialNo},#{gradeObj.gradeId},#{yearMonth},#{areaInfo},#{danwei},#{position},#{shouru})
	</insert>

	<!-- 按照查询条件分页查询公务员学生记录 -->
	<select id="queryServantStudent" resultMap="servantStudentMap" >
		select t_servantStudent.* from t_servantStudent,t_gradeInfo,t_specialInfo ${where} and t_servantStudent.specialObj = t_specialInfo.specialNo and t_servantStudent.gradeObj = t_gradeInfo.gradeId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="servantStudentMap" type="servantStudent">
        <id property="id" column="id" />
        <association property="specialObj" column="specialObj" select="com.chengxusheji.mapper.SpecialInfoMapper.getSpecialInfo" />
        <association property="gradeObj" column="gradeObj" select="com.chengxusheji.mapper.GradeInfoMapper.getGradeInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有公务员学生记录 -->
	<select id="queryServantStudentList" resultMap="servantStudentMap" >
		select t_servantStudent.* from t_servantStudent,t_gradeInfo,t_specialInfo ${where} and t_servantStudent.specialObj = t_specialInfo.specialNo and t_servantStudent.gradeObj = t_gradeInfo.gradeId
	</select>

    <!-- 按照查询条件的公务员学生记录数 -->
	<select id="queryServantStudentCount" resultType="int">
		select count(*) from t_servantStudent,t_gradeInfo,t_specialInfo ${where} and t_servantStudent.specialObj = t_specialInfo.specialNo and t_servantStudent.gradeObj = t_gradeInfo.gradeId
	</select>

	<!-- 根据主键查询某个公务员学生记录 -->
	<select id="getServantStudent" parameterType="int" resultMap="servantStudentMap">
		select * from t_servantStudent where t_servantStudent.id = #{id}
	</select>

	<!-- 更新公务员学生记录 -->
	<update id="updateServantStudent" parameterType="servantStudent">
		update t_servantStudent set studentNumber=#{studentNumber},studentName=#{studentName},specialObj=#{specialObj.specialNo},gradeObj=#{gradeObj.gradeId},yearMonth=#{yearMonth},areaInfo=#{areaInfo},danwei=#{danwei},position=#{position},shouru=#{shouru} where id = #{id}
	</update>

	<!-- 删除公务员学生记录 -->
	<delete id="deleteServantStudent" parameterType="int">
		delete from t_servantStudent where id=#{id}
	</delete>

</mapper>
